html, body{
  font-family : sans-serif;
  background: #e2e1e0;
  text-align : center;
}
.pokeapp{
  padding : 16px;
}
.pokemon--species--list{
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
  -ms-flex-wrap : wrap;
  flex-wrap : wrap;
  padding : 16px 0;
}
.pokemon--species{
  -ms-flex-preferred-size : 25%;
  flex-basis : 25%;
  padding : 8px;
  box-sizing: border-box;

}
.pokemon--species--container{
  padding : 8px;
  background : white;
  cursor : pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}