// Style for Pokémon cards
// Author gilang.aramadan@gmail.com

.card {
  background-color: $white;
  margin: 10px 0;
  border-radius: 5px;
  padding: 13px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);

  &.card-detail {
    padding: 40px;
  }

  .card-image {
    background-color: #1C2834;
    border-radius: 5px;
    border: 1px solid #D9D9D9;

    img.detail-image {
      width: 65%;
    }
  }
}

.pokemon-name {
  text-transform: capitalize;
  margin-top: 15px;
  &.pokemon-name-detail {
    margin: 15px 0;
  }
}

.badges-list-item {
  margin-right: 5px;
  text-transform: capitalize;
}

.text-number {
  margin: 0 0 25px;
}

.text-stats {
  text-transform: uppercase;
  margin: 5px 35px 0 0;
}

.pokemon-profile {
  margin: 5px 30px 0;
  border-radius: 5px;
  padding: 5px 0;
  background-color: $color-info;
}

.filter-container {
  margin: 35px 0;
  .filter-text {
    color: #C7C7C7;
  }
}